.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.movie-search-container {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  width: 100%;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.movie-search {
  text-align: center;
}

.movie-search input[type='text'] {
  width: 300px;
  padding: 10px;
  font-size: 16px;
}

.movie-search button {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #bac8d7;
  color: white;
  border: none;
  border-radius: 5px;
}

.movie-list-container {
  max-width: 1000px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: auto;
  height: calc(100vh - 150px);
}

.observer {
  width: 100%;
  height: 20px;
}

.movie-list {
  margin-top: 100px;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}

.movie-list__item {
  cursor: pointer;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: calc(25% - 20px);
  margin-bottom: 20px;
}

.movie-list__item-img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: contain;
}

.movie-list__item-info {
  margin-top: 10px;
}

.movie-details {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  margin-top: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.movie-details img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 10px;
}

.movie-details h2 {
  margin-bottom: 10px;
}

.movie-details p {
  margin-top: 5px;
}

.movie-details button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #9ecdff;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

.error {
  color: red;
  margin-top: 10px;
}
