html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  
  justify-content: center;
  align-items: center;
  height: 150%;
  width: 100%;
  position: absolute;
  overflow-x: hidden;
background-color: black;
   
  color: white;
}

.search {
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
}


